@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/media";
@import "base/tables";
@import "base/typography";

@import "patterns/grid";
@import "patterns/icon";
@import "patterns/list-bare";

@import "components/button";
@import "components/doc-item";
@import "components/metadata-list";
@import "components/page-header";
@import "components/site-footer";
@import "components/site-frame";
@import "components/site-nav";
@import "components/table-wrap";

@import "utilities/flex";
@import "utilities/line-height";
@import "utilities/margin";

.sidebar {
  a {
    display: block;
  }

  [aria-current]:not([aria-current="false"]) {
    font-weight: $font-weight-bold;
  }
}
