@import "bourbon";
@import "base/base";
@import "syntax-highlight";

.container {
  @include margin(null auto);
  @include padding(null 1rem);
  max-width: 40rem;
}

.doc-item {
  margin-bottom: 8rem;
}

.doc-item__code-example {
  border: $base-border;
  border-radius: $base-border-radius;
  padding: 1em;
}
