<% wrap_layout :layout do %>
  <% if content_for?(:flash) %>
    <div class="p-grid-container">
      <div class="p-grid__column--12">
        <%= yield_content(:flash) %>
      </div>
    </div>
  <% end %>

  <%= partial "partials/page_header" %>

  <div class="p-grid-container">
    <% if content_for?(:docs_sidebar) %>
      <div class="p-grid__column--12 p-grid__column--4@medium c-docs-nav-wrapper">
        <%= yield_content(:docs_sidebar) %>
      </div>
    <% end %>

    <div class="p-grid__column--12 p-grid__column--8@medium">
      <%= yield %>
    </div>
  </div>
<% end %>
