<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= page_description %>">
    <title>Bourbon - Documentation for Version 4</title>
    <%= stylesheet_link_tag "v4-docs" %>
  </head>
  <body>
    <%= yield %>
    <%= partial "partials/analytics" %>
  </body>
</html>
