doctype html
html lang="en"
  = partial "partials/html_head"
  body
    div class="c-site-frame"
      div class="c-site-frame__nav"
        = partial "partials/site_nav"

      main class="c-site-frame__body" role="main"
        = yield

      div class="c-site-frame__footer"
        = partial "partials/site_footer"

    = partial "partials/javascript"
    = partial "partials/analytics"
