fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $spacing-x-small;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $spacing-xx-small;
}

input,
select,
textarea {
  display: block;
  font-family: $font-family;
  font-size: modular-scale(0);
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  line-height: 2;
  margin: 0;
  padding: 0 modular-scale(-4);
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: $medium-gray;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $spacing-small;
}

[type="file"] {
  margin: 0;
  width: 100%;
}

select {
  margin: 0;
  width: 100%;
}
