table {
  border: 1px solid $color-border;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}


th {
  background-color: rgba($black, 0.02);
  border-bottom: 1px solid $color-border;
  font-size: modular-scale(-1);
  font-weight: $font-weight-bold;
  text-align: left;
}

td {
  background-color: $white;
  border-bottom: 1px solid $color-border;
}

th,
td {
  padding: $spacing-x-small $spacing-small;
}

tr,
td,
th {
  vertical-align: top;
}
