table {
  border-collapse: collapse;
  margin: 0;
  text-align: left;
  width: 100%;
}

thead {
  color: $color-text-heading;
  font-size: modular-scale(-1);
  font-weight: $font-weight-bold;
}

tr {
  border-bottom: 1px solid $color-border;
}

th,
td {
  padding: $spacing-x-small $spacing-medium;
  vertical-align: top;
}

td {
  background-color: $white;
}
