html {
  color: $color-text-default;
  font-family: $font-family;
  font-size: 100%;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;

  @media (min-width: 38em) {
    font-size: 106.25%;
  }

  @media (min-width: 65em) {
    font-size: 112.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-heading;
  font-family: $font-family-heading;
  font-size: modular-scale(1);
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $color-text-link;

  &:active,
  &:focus,
  &:hover {
    color: $color-text-link-hover;
    transition: color $base-duration $base-timing;
  }
}

code {
  font-family: $font-family-code;
}

pre {
  margin: 0;
  tab-size: 2;

  > code {
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

hr {
  border-bottom: 1px solid $color-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacing-medium 0;
}
