html {
  color: $color-text-default;
  font-family: $font-family-default;
  font-size: 100%;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;

  @media (min-width: 38em) {
    font-size: 106.25%;
  }

  @media (min-width: 65em) {
    font-size: 112.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-heading;
  font-family: $font-family-heading;
  font-size: modular-scale(1);
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $color-text-link;

  &:active,
  &:focus,
  &:hover {
    color: $color-text-link-hover;
    transition: color $base-duration $base-timing;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

code {
  font-family: $font-family-code;
  font-weight: $font-weight-regular;

  :not(pre) > & {
    background-color: shade($white, 2%);
    border-radius: 0.1875em;
    box-shadow: 0 0 0 1px rgba($black, 0.1);
    font-size: modular-scale(-1);
    margin: 0 0.125em;
    padding: 0.0625em 0.25em;
  }
}

pre {
  margin: 0;
  tab-size: 2;

  > code {
    border: 1px solid $color-border-default;
    display: block;
    font-size: modular-scale(-1);
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: modular-scale(0);
  }
}

hr {
  border-bottom: 1px solid $color-border-default;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $space-medium 0;
}
