html {
  color: $color-text-default;
  font-family: $font-family-default;
  font-size: 100%;
  font-weight: $font-weight-regular;
  line-height: $line-height-body;

  @media (min-width: 38em) {
    font-size: 106.25%;
  }

  @media (min-width: 65em) {
    font-size: 112.5%;
  }

  @media (min-width: 100em) {
    font-size: 118.75%;
  }
}

code {
  background-color: rgba($white, 0.88);
  border-radius: 0.1875em;
  box-shadow: 0 0 0 1px rgba($dark-brown, 0.04);
  font-family: $font-family-code;
  font-size: modular-scale(-1);
  font-weight: $font-weight-regular;
  margin: 0 0.125em;
  padding: 0.0625em 0.25em;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-heading;
  font-family: $font-family-heading;
  font-size: modular-scale(1);
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
  margin: 0;

  code {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: $font-weight-regular;
    margin: 0;
    padding: 0;
    white-space: normal;
  }
}

p {
  margin: 0;
}

a {
  color: $color-text-link;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: $color-text-link-hover;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

dt {
  color: $color-text-heading;
  font-weight: $font-weight-bold;
}

pre {
  margin: 0;
  tab-size: 2;

  code {
    border-radius: $border-radius;
    display: block;
    margin: 0;
    overflow-x: auto;
    padding: modular-scale(0);
    white-space: pre;
  }
}

hr {
  border-bottom: 1px solid $color-border-default;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $space-medium 0;
}

::selection {
  background-color: $bourbon-orange;
  color: $white;
}
