- if item.parameter
  %h2 Arguments
  %ol.item-parameters
    - item.parameter.each do |param|
      %li
        %h3.param-name
          %code= param.name
        %span.param-type= param.type
        - if param["default"]
          %code.param-default= param["default"]
        - if param.description
          %p.param-description= markdown(param.description)
