nav.c-site-nav.c-site-frame__header role="navigation"
  div.p-grid-container
    div.p-grid__column--12.u-flex
      = current_link_to "Bourbon",
                        "/",
                        class: "c-site-nav__logo"

      = current_link_to "Documentation",
                        "/docs/latest/",
                        class: "c-site-nav__link"

      / = current_link_to "Community",
      /                   "/community/",
      /                   class: "c-site-nav__link"

      = link_to "GitHub",
                "https://github.com/thoughtbot/bourbon/",
                class: "c-site-nav__link",
                "aria-current": "false"

      = link_to "Twitter",
                "https://twitter.com/bourbonsass/",
                class: "c-site-nav__link",
                "aria-current": "false"

      = link_to "Stack Overflow",
                "https://stackoverflow.com/questions/tagged/bourbon/",
                class: "c-site-nav__link",
                "aria-current": "false"
