footer.c-site-footer role="contentinfo"
  div.p-grid-container.c-site-frame__footer
    div.p-grid__column--12
      p &copy; 2011&ndash;#{Date.today.year}
        #{link_to "thoughtbot, inc.", "https://thoughtbot.com"}
