%nav.site-nav{ role: "navigation" }
  .container
    = partial "partials/bourbon_logo"
    %ol
      %li= link_to "Documentation", "/docs"
      %li= link_to "GitHub", "//github.com/thoughtbot/bourbon"
