<nav class="c-site-nav" role="navigation">
  <div class="p-grid-container">
    <div class="p-grid__column--12 u-flex u-flex-align-items-center">
      <% link_to "/", class: "u-line-height-zero" do %>
        <%= partial "partials/site_nav_logo" %>
      <% end %>

      <%= current_link_to(
        "Installation",
        data.site.install_url,
        class: "c-site-nav__link u-margin-left-auto"
      ) %>

      <%= current_link_to(
        "Documentation",
        "/docs/latest/",
        class: "c-site-nav__link"
      ) %>

      <%= link_to(
        "Change Log",
        data.site.changelog_url,
        class: "c-site-nav__link"
      ) %>

      <% link_to(
        data.site.twitter_url,
        class: "c-site-nav__link c-site-nav__link--icon u-line-height-zero"
      ) do %>
        <svg class="icon" title="Twitter">
          <use xlink:href="/assets/images/icons.svg#twitter"/>
        </svg>
      <% end %>

      <% link_to(
        data.site.stackoverflow_url,
        class: "c-site-nav__link c-site-nav__link--icon u-line-height-zero"
      ) do %>
        <svg class="icon" title="Stack Overflow">
          <use xlink:href="/assets/images/icons.svg#stack-overflow"/>
        </svg>
      <% end %>

      <% link_to(
        data.site.github_url,
        class: "c-site-nav__link c-site-nav__link--icon u-line-height-zero"
      ) do %>
        <svg class="icon" title="GitHub">
          <use xlink:href="/assets/images/icons.svg#github"/>
        </svg>
      <% end %>
    </div>
  </div>
</nav>
