<footer class="c-site-footer" role="contentinfo">
  <div class="p-grid-container">
    <div class="p-grid__column--12">
      <p>
        &copy; 2011&ndash;<%= Date.today.year %>
        <%= link_to "thoughtbot, inc.", "https://thoughtbot.com" %>
      </p>

      <%= link_to(
        "Code of Conduct",
        "https://thoughtbot.com/open-source-code-of-conduct"
      ) %>
    </div>
  </div>
</footer>
