$neat-grid: (
  "columns": 12,
  "gutter": 3rem,
);

.p-grid-container {
  @include grid-container;
  @include margin(null auto);
  max-width: 65rem;
}

.p-grid-container--narrow {
  max-width: 38rem;
}

@for $i from 1 through map-get($neat-grid, "columns") {
  .p-grid__column--#{$i} {
    @include grid-column($i);
  }
}

@media (min-width: $medium-screen) {
  @for $i from 1 through map-get($neat-grid, "columns") {
    .p-grid__column--#{$i}\@medium {
      @include grid-column($i);
    }
  }
}
