// Fonts
$font-family: $font-stack-system;
$font-family-heading: $font-family;
$font-family-code: "Input Mono Lt", $font-stack-consolas;

$font-weight-regular: 400;
$font-weight-bold: 600;

// Line height
$line-height-body: 1.6;
$line-height-heading: 1.2;

// Spacing
$spacing-xx-small: 0.25rem;
$spacing-x-small: 0.5rem;
$spacing-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-x-large: 2rem;
$spacing-xx-large: 3rem;

// Grid
$neat-grid: (
  "columns": 12,
  "gutter": 2rem,
);

// Colors
$black: #000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

$orange: #f27126;
$thoughtbot-red: #ed3e44;

// Text Colors
$color-text-default: $dark-gray;
$color-text-link: $color-text-default;
$color-text-link-hover: $orange;

// Border
$color-border: $light-gray;
$border-radius: 3px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

$bourbon: (
  "contrast-switch-dark-color": #000,
  "contrast-switch-light-color": #fff,
  "modular-scale-base": 1em,
  "modular-scale-ratio": $major-second,
);
