// Typography
$font-family-default: $font-stack-system;
$font-family-heading: $font-family-default;
$font-family-code: "Input Mono Lt", $font-stack-consolas;

$font-weight-regular: 400;
$font-weight-bold: 600;

$line-height-body: 1.6;
$line-height-heading: 1.2;

// Spacing
$space-xx-small: 0.25rem;
$space-x-small: 0.5rem;
$space-small: 0.75rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-x-large: 2rem;
$space-xx-large: 3rem;

// Colors
$black: #000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;

$bourbon-orange: #f27126;

$color-text-default: $dark-gray;
$color-text-heading: $dark-gray;
$color-text-link: $color-text-default;
$color-text-link-hover: $bourbon-orange;

// Borders
$color-border-default: $light-gray;
$border-radius: 3px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Bourbon library settings
$bourbon: (
  "contrast-switch-dark-color": #000,
  "contrast-switch-light-color": #fff,
  "modular-scale-base": 1em,
  "modular-scale-ratio": $major-second,
);
