// Typography
$font-family-default: $font-stack-system;
$font-family-heading: $font-family-default;
$font-family-code: $font-stack-consolas;

$font-weight-regular: 400;
$font-weight-bold: 600;

$line-height-body: 1.7;
$line-height-heading: 1.2;

// Spacing
$space-xx-small: 0.25rem;
$space-x-small: 0.5rem;
$space-small: 0.75rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-x-large: 3rem;
$space-xx-large: 5rem;

// Colors
$black: #000000;
$dark-gray: #222222;
$medium-gray: #999999;
$light-gray: #dddddd;
$dark-brown: mix(#f27126, $dark-gray, 14%);
$light-brown: tint(mix(#fffbee, #f6f3ee, 35%), 20%);
$white: #ffffff;

$bourbon-orange: #f27126;
$bourbon-orange-dark: shade($bourbon-orange, 10%);

$color-text-default: mix(#f27126, $dark-gray, 12%);
$color-text-heading: $color-text-default;
$color-text-link: $color-text-default;
$color-text-link-hover: $bourbon-orange;

$viewport-background-color: $light-brown;

// Borders
$color-border-default: mix($dark-brown, $light-brown, 10%);
$border-radius: 2px;

// Focus
$focus-outline-color: transparentize($bourbon-orange, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: $ease-in-out-sine;

// Breakpoints
$medium-screen: 50em;

// Bourbon library settings
$bourbon: (
  "contrast-switch-dark-color": #000000,
  "contrast-switch-light-color": #ffffff,
  "modular-scale-base": 1em,
  "modular-scale-ratio": $major-second,
);
