$_doc-item-spacing: 6rem;
$_space-m: 1rem;
$_space-l: 2rem;

.c-doc-item {
  &:not(:first-child) {
    padding-top: $_doc-item-spacing;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-border-default;
    padding-bottom: $_doc-item-spacing;
  }
}

.doc-item__title {
  font-size: modular-scale(4);
}

.doc-item__sub-title {
  font-size: modular-scale(1);
  margin-bottom: modular-scale(-1);
}

.doc-item__title,
.doc-item__section:not(:last-child) {
  margin-bottom: $_space-l;
}

.doc-item__description,
.doc-item__at-content-description {
  max-width: 36em;
}

.doc-item__arguments,
.doc-item__properties {
  font-size: modular-scale(-1);
}

.doc-item__mininum-content-width {
  min-width: 26em;
}

.doc-item__example {
  &:not(:last-child) {
    margin-bottom: $_space-m;
  }
}
