$_doc-item-spacing: 8rem;

.c-doc-item {
  &:not(:first-child) {
    padding-top: $_doc-item-spacing / 2;
  }

  &:not(:last-child) {
    margin-bottom: $_doc-item-spacing / 2;
  }
}

.c-doc-item__title {
  font-size: modular-scale(6);
  margin-bottom: $space-large;
}

.c-doc-item__sub-title {
  font-size: modular-scale(1);
  margin-bottom: $space-medium;
}

.c-doc-item__description,
.c-doc-item__at-content-description {
  margin-bottom: $space-x-large;
}

.c-doc-item__arguments,
.c-doc-item__properties {
  font-size: modular-scale(-1);
  margin-bottom: $space-x-large;
}

.c-doc-item__mininum-content-width {
  min-width: 26em;
}

.c-doc-item__example {
  &:not(:last-child) {
    margin-bottom: $space-medium;
  }
}
