.c-dropdown {
  position: relative;
}

.c-dropdown__body {
  @include padding($space-xx-small null);
  @include position(absolute, calc(100% + 1px) null null 0);
  background-color: $white;
  border: 1px solid $color-border-default;
  border-radius: $border-radius;
  box-shadow: 0 2px 3px rgba($black, 0.16);
  z-index: 1;
}

.c-dropdown__item {
  padding: $space-xx-small $space-small;
}
