.c-page-header {
  @include padding($space-x-large null $space-x-small);
  border-bottom: 1px solid $color-border-default;
  margin-bottom: $space-x-large;
}

.c-page-header__title {
  font-size: modular-scale(2);
}
