.c-site-nav {
  @include padding($space-medium null);
  border-bottom: 1px solid $color-border-default;
  font-size: modular-scale(-1);
}

.c-site-nav__link {
  &:not(:last-of-type) {
    margin-right: $space-large;
  }
}

.c-site-nav__logo {
  margin-right: auto;
}
