.c-site-nav {
  @include padding($base-spacing null);
  border-bottom: $base-border;
  margin-bottom: $base-spacing;

  a {
    font-weight: 600;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
      transition: text-decoration $base-duration $base-timing;
    }
  }
}

.c-site-nav__link {
  &:not(:last-of-type) {
    margin-right: $base-spacing;
  }
}

.c-site-nav__logo {
  margin-right: auto;
}
