.c-site-nav {
  @include padding($space-medium null);
  border-bottom: 1px solid $color-border-default;
  font-size: modular-scale(-1);

  [aria-current]:not([aria-current="false"]) {
    font-weight: $font-weight-bold;
  }
}

.c-site-nav__link {
  &:not(:last-of-type) {
    margin-right: $space-large;
  }
}

.c-site-nav__link--icon {
  &:not(:last-of-type) {
    margin-right: $space-medium;
  }
}
