- if item.property.present?
  h3.c-doc-item__sub-title
    | Properties

  div.c-doc-item__properties
    div.table-wrap
      table
        thead
          tr
            th scope="col"
              | Name
            th scope="col"
              | Type
            th scope="col"
              | Description

        tbody
          - item.property.each do |property|
            tr
              th scope="row"
                code
                  = property.name
              td
                code
                  = property.type
              td.c-doc-item__mininum-content-width
                - if property.description
                  = markdown(property.description)
                - else
                  span aria-label="No description"
                    | &mdash;
