h2.c-doc-item__title
  code
    = item.context.name

ul.c-metadata-list.p-list-bare
  li
    span.c-metadata-list__key
      ' Type:
    span.c-metadata-list__value
      = item.context.type.capitalize

  - if item.return.present?
    li
      span.c-metadata-list__key
        ' Returns:
      code.c-metadata-list__value
        = item.return.type

  li.u-margin-left-auto
    = link_to "View Source on GitHub", github_file_url(item.file.path, version)

- if item.description.present?
  div.c-doc-item__description
    = markdown(item.description)

- if item.content.present?
  h3.c-doc-item__sub-title
    | Content
  div.c-doc-item__at-content-description
    markdown:
      This mixin allows you to pass in a block of styles for placement within
      the styles included by the mixin.
    = markdown(item.content)
