header
  div.p-grid-container
    div.p-grid__column--12
      h1 Bourbon is a lightweight Sass tool&nbsp;set

      = config[:latest_version]

      ul
        li Dependency-free: Bourbon is pure Sass.
        li Human-readable: We aim for clarity over brevity.
        li Lightweight: Zero output post-install and has no visual opinion.

      = link_to "Get Started", "/installation/", class: "c-button"
