<header class="u-margin-top-x-large" role="banner">
  <div class="p-grid-container">
    <div class="p-grid__column--12">
      <h1>Bourbon is a lightweight Sass tool&nbsp;set</h1>

      <p>Latest version: <%= config[:latest_version] %></p>

      <ul>
        <li>Dependency-free: Bourbon is pure Sass.</li>
        <li>Human-readable: We aim for clarity over brevity.</li>
        <li>Lightweight: Zero output post-install and has no visual opinion.</li>
      </ul>
      
      <img src="foo.jpg">

      <%= link_to(
        "Get Started",
        data.site.install_url,
        class: "c-button c-button--primary"
      ) %>
    </div>
  </div>
</header>
